*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:is(a, button, input, time, output, span) {
  display: inline-block; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto; }

img {
  max-width: 100%; }

body {
  font-family: "ARS Maquette", Helvetica, Arial, sans-serif; }

@media (max-width: 800px) {
  .card {
    display: flex; } }

@media (max-width: 800px) {
  .card__text-box {
    margin-left: 1rem; } }

@media (max-width: 800px) {
  .card__img {
    width: 7rem;
    height: 4rem; } }

.card__news-link {
  color: #000;
  font-size: .9rem; }
  .card__news-link:hover {
    color: #f42;
    text-decoration: underline; }

.card__list {
  display: flex;
  margin-top: .5rem;
  font-size: .8rem; }

.card__link {
  margin-right: .8rem; }

:is(.card__link, .card__item) {
  color: #aaa; }

.hamburger-menu {
  position: relative;
  cursor: pointer;
  display: none; }
  @media (max-width: 750px) {
    .hamburger-menu {
      display: block; } }
  .hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
    width: 2rem;
    height: 2.5px;
    background-color: #f42; }
  .hamburger-menu::before, .hamburger-menu::after {
    position: absolute;
    content: "";
    top: 0; }
  .hamburger-menu::before {
    top: -.5rem; }
  .hamburger-menu::after {
    top: .5rem; }

.menu {
  display: flex;
  justify-content: center; }
  .menu__item {
    font-size: .9rem; }
    .menu__item:not(:last-child) {
      margin-right: 1rem; }
  .menu__link {
    color: #aaa;
    font-size: .86rem;
    transition: all 0.25s ease-in-out; }
    .menu__link:hover {
      color: #fff; }

.section-list__article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: rgba(255, 68, 34, 0.06); }

:is(.section-list__heading-5, .section-list__heading-4) {
  color: #f42; }

.section-list__header {
  padding-left: 1rem; }

.section-list__heading-5 {
  font-weight: 500;
  font-size: .8rem; }

.section-list__heading-4 {
  font-size: .9rem; }

.section-list__img-box {
  width: 9rem;
  align-self: stretch; }

.section-list__img-link {
  display: block;
  height: 100%; }

.section-list__img {
  height: 100%; }

.section-list__item:not(:first-child) {
  position: relative;
  display: flex;
  font-size: .7rem;
  padding: .7rem 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1); }
  .section-list__item:not(:first-child)::before {
    content: "\2022";
    color: red;
    display: block;
    font-size: 1rem;
    font-weight: bold; }

.section-list__link {
  color: #000;
  transition: all 0.25s ease-in-out;
  padding-left: .5rem; }
  .section-list__link:hover {
    color: #555; }

.social {
  display: flex;
  justify-content: center; }
  .social__item:not(:last-child) {
    margin-right: 1rem; }
  .social__link {
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #fff;
    border: 1px solid #555;
    border-radius: 50%;
    transition: all 0.25s ease-in-out; }
    .social__link:hover {
      background-color: #000; }

.cover {
  display: grid;
  gap: .3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(14rem, auto);
  grid-template-areas: "main-article main-article aside-article-1" "main-article main-article aside-article-2"; }
  @media (max-width: 800px) {
    .cover {
      grid-template-areas: "main-article main-article main-article" "aside-article-1 aside-article-1 aside-article-1" "aside-article-2 aside-article-2 aside-article-2"; } }
  .cover__article-main {
    grid-area: main-article;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .cover__article-aside-1 {
    grid-area: aside-article-1; }
  .cover__article-aside-2 {
    grid-area: aside-article-2; }
  :is(.cover__article-aside-1, .cover__article-aside-2) {
    display: flex;
    align-items: flex-end; }

.grid {
  display: grid;
  gap: 1.5rem; }

.row-gap--4 {
  row-gap: 4rem; }

@media (min-width: 1050px) {
  .column--lg-4 {
    grid-template-columns: repeat(4, 1fr); }
  .column--lg-3 {
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 1049px) {
  .column--md-3 {
    grid-template-columns: repeat(3, 1fr); }
  .column--md-2 {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 800px) {
  .column--sm-1 {
    grid-template-columns: 1fr; } }

.nav-header :is(.top-nav, .bottom-nav) {
  display: flex;
  justify-content: space-between;
  align-items: center; }

:is(.nav-header .top-nav__list-left, .nav-header .top-nav__list-right) {
  display: flex;
  align-items: center; }

:is(.nav-header .bottom-nav__list, .nav-header .bottom-nav__search) {
  display: flex;
  align-items: center; }

@media (max-width: 750px) {
  .nav-header .bottom-nav {
    justify-content: flex-end; } }

:is(.page__latest-news, .page__funds, .page__sections, .page__deals, .page__footer) {
  margin-top: 4.2rem; }

.main__cover {
  margin: .4rem .6rem; }

:is(.top-nav, .bottom-nav, .nav-header__text-box) {
  padding-left: 1rem;
  padding-right: 1rem; }

.nav-header__row {
  display: flex; }

.nav-header__logo-box {
  width: 6rem;
  display: flex;
  align-items: center;
  background-color: #131313;
  display: none; }
  @media (max-width: 1000px) {
    .nav-header__logo-box {
      display: flex;
      justify-content: center; } }

.nav-header__logo-link {
  display: flex;
  justify-content: center; }

.nav-header__logo {
  width: 95%; }
  @media (max-width: 750px) {
    .nav-header__logo {
      width: 60%; } }

.nav-header__nav-box {
  flex: 1; }

.nav-header .top-nav {
  padding-top: .6rem;
  padding-bottom: .6rem;
  background-color: #222; }
  @media (max-width: 800px) {
    .nav-header .top-nav__list-right {
      display: none; } }
  @media (max-width: 750px) {
    .nav-header .top-nav {
      display: none; } }
  .nav-header .top-nav__item:not(:last-child) {
    padding-right: 1rem; }
  .nav-header .top-nav__link:link, .nav-header .top-nav__link:visited {
    color: rgba(255, 255, 255, 0.6);
    font-size: .75rem;
    transition: all 0.25s ease-in-out; }
    .nav-header .top-nav__link:link:hover, .nav-header .top-nav__link:visited:hover {
      color: #fff; }

@media (max-width: 750px) {
  .nav-header .bottom-nav__list {
    display: none; } }

.nav-header .bottom-nav__item:not(:last-child) {
  padding-right: 1rem; }

@media (max-width: 1200px) {
  .nav-header .bottom-nav__item:nth-child(7) {
    display: none; }
  .nav-header .bottom-nav__item:nth-child(6) {
    display: none; } }

.nav-header .bottom-nav__link:link, .nav-header .bottom-nav__link:visited {
  color: #aaa;
  font-size: .8rem;
  padding: .8rem 0;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out; }
  .nav-header .bottom-nav__link:link:hover, .nav-header .bottom-nav__link:visited:hover {
    color: #000; }

.nav-header .bottom-nav__right {
  display: flex;
  align-items: center; }

.nav-header .bottom-nav__hamburger-menu {
  margin-left: 1rem; }

.nav-header .bottom-nav__search:link, .nav-header .bottom-nav__search:visited {
  padding: .8rem 0;
  border-left: 1px solid rgba(170, 170, 170, 0.8);
  color: #aaa;
  padding-left: 1rem;
  transition: all 0.25s ease-in-out; }
  .nav-header .bottom-nav__search:link:hover, .nav-header .bottom-nav__search:visited:hover {
    color: #555; }

.nav-header .bottom-nav__search-icon {
  transform: rotate(90deg); }

.nav-header__text-box {
  background-color: #fd3;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .77rem; }
  @media (max-width: 1000px) {
    .nav-header__text-box {
      padding-left: 7rem; } }
  @media (max-width: 750px) {
    .nav-header__text-box {
      padding: 1.2rem 0;
      text-align: center; } }

.nav-header__link {
  display: block;
  color: #555; }

.cover__article {
  padding: 1.2rem;
  background-blend-mode: multiply;
  background: linear-gradient(to right bottom, red, brown), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/surface-laptop-3-480x270.jpg") no-repeat;
  background-size: cover; }
  .cover__article-main-top {
    display: flex;
    justify-content: space-between; }
  .cover__article-img-box {
    width: clamp(15rem, calc(25vw + 5rem), 30rem); }
    @media (max-width: 1000px) {
      .cover__article-img-box {
        display: none; } }
  .cover__article-date {
    display: block;
    text-align: right;
    color: #fff; }
    @media (max-width: 1000px) {
      .cover__article-date {
        display: none; } }
  .cover__article-heading-5 {
    color: #fff; }
  .cover__article-list {
    margin-top: 1rem;
    display: flex;
    font-size: .8rem; }
  .cover__article-item {
    color: #aaa; }
    .cover__article-item:not(:last-child) {
      margin-right: 1rem; }
  .cover__article-link {
    color: #aaa; }
  .cover__article-main-title {
    font-weight: 900;
    font-size: clamp(1.2rem, calc(3vw + 1rem), 2.9rem);
    color: #fff;
    line-height: 1; }
  .cover__article-aside-title {
    font-weight: 900;
    font-size: clamp(1.2rem, calc(5vw + 2rem), 1.5rem);
    color: #fff;
    line-height: 1; }

.latest-news__link {
  color: #f42;
  transition: all 0.25s ease-in-out; }
  .latest-news__link:hover {
    color: #000; }

.latest-news__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem; }

.latest-news__icon {
  display: inline-block;
  margin-left: .4rem; }

@media (max-width: 1000px) {
  .funds__detail-last {
    display: none; } }

.funds__text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.7rem; }
  @media (max-width: 1000px) {
    .funds__text-box {
      align-items: flex-start;
      flex-direction: column; } }

.funds__title-link {
  color: #f42;
  transition: all 0.25s ease-in-out; }
  .funds__title-link:hover {
    color: #000; }

.funds__icon {
  display: inline-block;
  margin-left: .3rem; }

.funds__list {
  display: flex; }
  .funds__list-item {
    padding: 0 1rem;
    border-right: 1px solid #f42; }
    .funds__list-item:last-child {
      border-right: none; }
    @media (max-width: 1000px) {
      .funds__list-item {
        border: none;
        padding: 0;
        margin-bottom: .5rem; } }
  @media (max-width: 1000px) {
    .funds__list {
      flex-direction: column;
      margin-top: 1rem; } }
  .funds__list-link:link, .funds__list-link:visited {
    color: #f42;
    transition: all 0.25s ease-in-out;
    font-size: .9rem; }
    .funds__list-link:link:hover, .funds__list-link:visited:hover {
      color: #000; }

.funds__detail {
  position: relative;
  background-color: rgba(255, 68, 34, 0.04); }

.funds__investor-link {
  display: block; }

.funds__investor-logo-box {
  position: absolute;
  top: 1rem;
  left: .5rem; }

.funds__investor-logo {
  max-width: 4rem; }

.funds__investor-name {
  background-color: #f42;
  padding: 1rem 0;
  color: #fff;
  font-weight: 700; }

.funds__investor-fund-amount-box {
  background-color: rgba(255, 68, 34, 0.2);
  padding: .7rem 0; }

.funds__investor-fund-amount {
  font-size: 1.1rem;
  color: #000; }

.funds__investor-series-label {
  color: #555;
  font-weight: 400;
  font-size: .96rem; }

:is(.funds__investor-name, .funds__investor-fund-amount-box) {
  padding-left: 5rem; }

:is(.funds__card, .funds__footer) {
  padding: 1rem .5rem; }

.funds__card {
  border-bottom: 1px solid #f42; }

.funds__link {
  font-size: .8rem;
  color: #555; }
  .funds__link:not(:last-child) {
    margin-bottom: .6rem; }

.funds__icon {
  display: inline-block;
  margin-right: .4rem; }

.funds__footer {
  font-size: .7rem; }

.funds__detail-link {
  color: #555; }

.funds__text {
  color: #aaa; }

.sections .hard-work__header {
  margin-bottom: 1rem; }

.sections .hard-work__article-link {
  color: #f42; }

.sections .hard-work__icon {
  font-size: 1.2rem; }

.sections .hard-work__img-box {
  background-blend-mode: multiply;
  background: linear-gradient(transparent 10%, #000), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg") no-repeat;
  background-size: cover;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem; }

:is(.sections .hard-work__heading-5, .sections .hard-work__heading-3) {
  color: #fff; }

.sections .hard-work__heading-5 {
  font-size: .85rem;
  font-weight: 500; }

.sections .hard-work__heading-3 {
  font-size: 1.1rem; }

.sections .hard-work__list {
  margin-top: .5rem;
  display: flex; }

.sections .hard-work__link:link, .sections .hard-work__link:visited {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: .84rem;
  margin-right: 1rem; }

.deals__text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem; }

.deals__title-link {
  color: #f42; }

.deals__link--red {
  color: #f42; }

.deals__card {
  position: relative; }

.deals__card-text-box {
  margin-top: .7rem; }

.deals__price-box {
  margin-top: .4rem; }

.deals__erased-price {
  text-decoration: line-through;
  font-size: .85rem;
  color: #aaa; }

.deals__discount-price {
  font-size: 1.1rem;
  color: #555; }

.footer {
  background-color: #000; }
  .footer__header {
    padding: 3rem 0;
    background-color: #131313; }
  .footer__header-text-box {
    max-width: 560px;
    margin: 0 auto; }
  .footer__social {
    margin-bottom: 1.8rem; }
  .footer__copyright-box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2.2rem 0; }
  .footer__copyright {
    font-size: .9rem;
    color: #aaa; }
  .footer__img {
    width: 3rem; }
  .footer__img-box--top {
    margin-right: 1rem; }
  .footer__img-box--bottom {
    margin-left: 1rem; }
    .footer__img-box--bottom img[alt="footer stackpage img"] {
      width: 5rem; }
