// colors
$light-grey: hsla(0,0%,100%,.6);
$medium-grey: #aaa;
$dark-grey: #555;

$white: #fff;
$black: #000;

$coquelicot: #f42;
  

// transition
$tranisition-gen: all .25s ease-in-out;

// fonts
$sans-serif: "ARS Maquette", Helvetica, Arial, sans-serif;